
spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${PGUSER}
    password: ${PGPASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    baseline-on-migrate: true
    baseline-version: 1
app:
  jwt:
    # Signing key for HS512 algorithm
    # In http://www.allkeysgenerator.com/ you can generate all kinds of keys
    secret: v9y$B&E)H@MbQeThWmZq4t7w!z%C*F-JaNdRfUjXn2r5u8x/A?D(G+KbPeShVkYp
    expiration:
      minutes: 60
  oauth2:
    redirectUri: https://${UI_PUBLIC_DOMAIN}/oauth2/redirect
  cors:
    allowed-origins: https://${UI_PUBLIC_DOMAIN}
server:
  address: "::"
  tomcat:
    accesslog:
      enabled: true
      directory: /dev
      prefix: stdout
      suffix: ""
      file-date-format: ""
      pattern: "%h %l %u %t \"%r\" %s %b %D"
aws:
  s3:
    root-folder: prod
migration:
  job:
    logoS3Migration:
      enabled: false
    userAvatarCreate:
      enabled: false
logging:
  level:
    com.zaxxer.hikari: DEBUG
