<div class="container">
  <form [formGroup]="eventForm" (ngSubmit)="submitForm()">

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input matInput formControlName="latitude" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input matInput formControlName="longitude" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Website URL</mat-label>
      <input matInput formControlName="websiteUrl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Logo URL</mat-label>
      <input matInput formControlName="logoUrl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Terrain</mat-label>
      <mat-select formControlName="terrain">
        <mat-option value="track">Track</mat-option>
        <mat-option value="road">Road</mat-option>
        <mat-option value="trail">Trail</mat-option>
        <mat-option value="big-mountain">Big Mountain</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Distance</mat-label>
      <input matInput formControlName="distance" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Elevation</mat-label>
      <input matInput formControlName="elevation" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Event Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="eventDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-card>
      <mat-card-content>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple hidden>
        <label for="fileInput">
          <mat-icon>cloud_upload</mat-icon> Choose Files
        </label>

        <div matRipple
             class="drag-drop-box"
             (drop)="onDrop($event)"
             (dragover)="onDragOver($event)"
             (dragleave)="onDragLeave($event)">
          <p>Drag and drop your files here</p>
        </div>
      </mat-card-content>

      <mat-action-list *ngIf="files.length > 0">
        <mat-list-item *ngFor="let file of files; let i = index">
          {{ file.name }}
          <button mat-icon-button (click)="removeFile(i)" aria-label="Remove file">
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-action-list>

    </mat-card>

    <button mat-raised-button color="primary" type="submit">Submit</button>

  </form>
</div>
<p>create-race works!</p>
