<div class="container">
  <form [formGroup]="eventForm" (ngSubmit)="submitForm()">

    <!-- Name  -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <!--  Description  -->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <!--  LAT  -->
    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input matInput formControlName="latitude" type="number">
    </mat-form-field>

    <!--  LON  -->
    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input matInput formControlName="longitude" type="number">
    </mat-form-field>

    <!--  Website URL  -->
    <mat-form-field>
      <mat-label>Website URL</mat-label>
      <input matInput formControlName="websiteUrl">
    </mat-form-field>

    <!--  Logo URL  -->
    <mat-form-field>
      <mat-label>Logo URL</mat-label>
      <input matInput formControlName="logoUrl">
    </mat-form-field>


    <!--  Event Date  -->
    <mat-form-field>
      <mat-label>Event Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="eventDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>

  </form>
</div>
