.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
}

.search-bar {
  flex: 1;
}

.search-button {
  margin-left: 8px; /* Adjust the spacing between the search bar and button as needed */
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #f44336;
}
