.search-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  max-width: 1200px;
}

.search-bar {
  flex: 1;
}


.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #f44336;
}
