.navbar {
  background: var(--color-white);
  color: var(--darkest-grey);
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

.filler {
  flex: 1 1 auto;
}

.home-button-div {
  display: flex;
  align-items: center;
}

.home-icon {
  filter: brightness(0) saturate(100%) invert(38%) sepia(96%) saturate(1233%)
    hue-rotate(351deg) brightness(95%) contrast(93%);
}

.notification-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  width: 40px;   /* optional: give it a square clickable area */
  height: 40px;
}


.mat-badge-content {
  top: 0.1px !important;   /* adjust vertical position */
  right: 1px !important; /* adjust horizontal position */
}
