.example-spacer {
  flex: 0.9 1 auto;
}

.google-sign-in {
  background-color: #4c76ee; /* Google Blue Background */
  color: white;             /* White Text */
  border: none;             /* No border */
  padding: 10px 20px;       /* Padding around the text */
  text-align: center;       /* Center text */
  text-decoration: none;    /* No underline */
  display: inline-block;    /* Inline block level */
  font-size: 16px;          /* Font size */
  margin: 4px 2px;          /* Margin around the button */
  cursor: pointer;          /* Pointer cursor on hover */
  border-radius: 5px;       /* Rounded corners */
  font-family: Arial, sans-serif; /* Font family */
}

.google-sign-in:hover {
  background-color: #3a5ebc; /* Slightly darker blue on hover */
}
