<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button style="height: 50px" [routerLink]="['/']" aria-label="Home">
      <div class="home-button-div">
        <img src="assets/home-icon.png" alt="Home" width="auto" height="30" />
      </div>
    </a>

    <span class="filler"></span>

    <!-- Admin-only link -->
    <a
      mat-button
      [routerLink]="['/create']"
      *ngIf="(user$ | async)?.role === 'ADMIN'">
      Create
    </a>

    <!-- Notifications: visible only when logged in; badge hidden at 0 -->
    <button
      mat-icon-button
      *ngIf="isLoggedIn$ | async"
      [routerLink]="['/notifications']"
      [matBadge]="unreadCount$ | async"
      [matBadgeHidden]="!(unreadCount$ | async)"
      matBadgeColor="warn"
      matBadgePosition="above after"
      aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>

    <a mat-button [routerLink]="['/about']">About</a>

    <!-- Auth area -->
    <ng-container *ngIf="isLoggedIn$ | async; else loginButton">
      <button mat-button [matMenuTriggerFor]="menu" aria-label="User menu">
        <app-user-display></app-user-display>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">My profile</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </ng-container>

    <ng-template #loginButton>
      <a mat-button [routerLink]="['/login']">Login</a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
