<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button style="height: 50px" routerLink="/">
      <div class="home-button-div">
        <img src="assets/home-icon.png" alt="Home" width="auto" height="30">
      </div>
<!--      <button style="border: none; background: none; padding: 0;">-->

<!--      </button>-->
    </a>

    <span class="filler"></span>
    <a mat-button routerLink="/create" *ngIf="isAdmin">Create</a>
    <a mat-button routerLink="/about">About</a>
    <div *ngIf="isAuthenticated(); else loginButton">
      <button mat-button>
      <app-user-display [matMenuTriggerFor]="menu"></app-user-display>

      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">My profile</button>
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </div>
    <ng-template #loginButton>
      <a mat-button routerLink="/login">Login</a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

