<div class="text-center m-3">
      <div class="row filter" *ngFor="let terrain of filterData.terrains">
        <div class="text-start col">
          <label class="form-check-label" for="flexCheckDefault">
            {{ terrain.name }}
          </label>
        </div>
        <div class="col text-end">
          <input [(ngModel)]="terrain.checked" (change)="onFilterChange($event)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </div>
      </div>
    <!--  Sliders -->
<!--  Elevation Filter -->
    <div class="row">
        <div class="col d-flex align-items-end">
          <p>Elevation (m)</p>
        </div>
        <div class="col">
          <mat-slider class="" min="0" max="12000" discrete>
            <input [(ngModel)]="filterData.selectedMinElevation" value="0" matSliderStartThumb>
            <input [(ngModel)]="filterData.selectedMaxElevation" value="12000" matSliderEndThumb>
          </mat-slider>
        </div>
    </div>
<!--  Distance Filter -->
    <div class="row">
      <div class="col d-flex align-items-end">
        <p>Distance (km)</p>
      </div>
      <div class="col">
        <mat-slider class="" min="0" max="160" discrete>
          <input [(ngModel)]="filterData.selectedMinDistance" value="0" matSliderStartThumb>
          <input [(ngModel)]="filterData.selectedMaxDistance" value="160" matSliderEndThumb>
        </mat-slider>
      </div>
    </div>
  <!-- Buttons -->
  <div class="row">
    <div class="col">
      <button mat-raised-button >Apply</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-flat-button class="mt-2">Reset Filters</button>
    </div>
  </div>
</div>

