.filters-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.terrain-filters {

}

.terrain-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7rem;
}

.elevation-distance-filters {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-reset-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-filters-button {
  margin-top: 5px;
}
