<div class="filters-container">
  <div class="terrain-filters">
    <div class="terrain-row" *ngFor="let terrain of filterData.terrains">
      <div class="">
        <label class="form-check-label" for="flexCheckDefault">
          {{ terrain.name }}
        </label>
      </div>
      <div class="">
        <mat-checkbox [(ngModel)]="terrain.checked" (change)="onFilterChange($event)" id="flexCheckDefault"></mat-checkbox>
      </div>
    </div>
  </div>
    <!--  Sliders -->
  <div class="elevation-distance-filters">
    <!--  Elevation Filter -->
    <div class="">
      <div class="">
        <p>Elevation (m):</p>
      </div>
      <div class="">
        <mat-slider class="slider" min="{{ FILTER_MINIMAL_ELEVATION }}" max="{{ FILTER_MAXIMUM_ELEVATION }}" discrete>
          <input [(ngModel)]="filterData.selectedMinElevation" value="{{ FILTER_MINIMAL_ELEVATION }}" matSliderStartThumb>
          <input [(ngModel)]="filterData.selectedMaxElevation" value="{{ FILTER_MAXIMUM_ELEVATION }}" matSliderEndThumb>
        </mat-slider>
      </div>
    </div>
    <!--  Distance Filter -->
    <div class="">
      <div class="">
        <p>Distance (km):</p>
      </div>
      <div class="">
        <mat-slider class="slider" min="{{ FILTER_MINIMAL_DISTANCE }}" max="{{ FILTER_MAXIMUM_DISTANCE }}" discrete>
          <input [(ngModel)]="filterData.selectedMinDistance" value="{{ FILTER_MINIMAL_DISTANCE }}" matSliderStartThumb>
          <input [(ngModel)]="filterData.selectedMaxDistance" value="{{ FILTER_MAXIMUM_DISTANCE }}" matSliderEndThumb>
        </mat-slider>
      </div>
    </div>

  </div>
  <!-- Buttons -->
  <div class="apply-reset-buttons">
    <div class="">
      <div class="">
        <button (click)="closeDialogWithResult()" mat-raised-button >Apply</button>
      </div>
    </div>
    <div class="">
      <div class="reset-filters-button">
        <button (click)="resetFilters()" mat-flat-button class="mt-2">Reset Filters</button>
      </div>
    </div>
  </div>
</div>

