.rating-container {
  width: 100%; /* Full width */
  height: 15px; /* Set the height */
  background-color: var(--darker-grey); /* Default grey background */
}

.rating-fill {
  height: 100%; /* Full height of the container */
  background-color: var(--ascent-darker);
  display: block; /* Makes the span behave like a block */
}
