:root {
  --primary-bg-color: #F5F5F5;
  --color-white: #ffffff;
  --ascent-main: #80cbc4;
  --ascent-darker: #00796b;
  --ascent-test: rgb(10, 114, 178);
  --primary-main: #d84315;
  --darker-grey: #d3d3d3;
  --darkest-grey: #616161;

}
