<mat-card class="">
  <mat-card-title class="log-in-title">Password Reset</mat-card-title>
  <mat-card-subtitle class="subtitle">When you enter your email bellow and click Send Email we will send you a link to reset your password. The link will expire after 30 minutes.</mat-card-subtitle>
  <mat-card-content class="flex-column">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Your Email" formControlName="email" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Send Email</button>
    </form>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button [routerLink]="['/login']">Log in</button>
  </mat-card-actions>
</mat-card>
