.filters {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 40px;
}
.dropdown-filters {
  width: 150px;
}

.arrows {
  height: 55px;
}

mat-button-toggle-group {
 margin-left: 10px;
}
.filter {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%; /* Adjust as needed */
}

.main-content {
  margin-top: 0.5rem;
}

.paginator {
  background-color: var(--primary-bg-color);
}

.cards-content {
  display: flex;
  max-width: 32rem;
}
