.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* Set a max-width for different screen sizes */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.filter {
  margin-bottom: 20px;
  outline: 1px solid #cccccc;
  max-width: 600px;
}

mat-slider {
  min-width: 50%; /* Adjust as needed */
}

mat-form-field {
  width: 100%; /* Adjust as needed */
}
