
<div class="comment">
  <div class="comment-header">
    <img class="avatar" [src]="raceComment.author.imageUrl" alt="Author's avatar">
    <div class="author-info">
      <div class="author-name">{{ raceComment.author.name }}</div>
      <div class="comment-date">{{ raceComment.createdAt | date:'mediumDate' }}</div>
    </div>
  </div>
  <div class="comment-body">
    {{ raceComment.commentText }}
  </div>
  <div class="thumbs-div">
    <button mat-icon-button>
      <mat-icon [ngStyle]="{'color': votedIconColor}" >thumb_up</mat-icon>
    </button>
    3
    <button mat-icon-button>
      <mat-icon [ngStyle]="{'color': nonVotedIconColor}">thumb_down</mat-icon>
    </button>
    0
  </div>
</div>
