
<div class="comment">
  <div class="comment-header">
    <div class="comment-user-info">
      <img class="avatar" [src]="avatarUrl" alt="Author's avatar">
      <div class="author-info">
        <div class="author-name">{{ raceComment.authorName }}</div>
        <div class="comment-date">{{ raceComment.createdAt | date:'mediumDate' }}</div>
      </div>
    </div>
    <div *ngIf="isAdmin">
      <button mat-icon-button (click)="deleteComment()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="comment-body" [attr.data-testid]="'comment-' + raceComment.id + '-text'">
    {{ raceComment.commentText }}
  </div>
  <div class="thumbs-div">
    <!-- 👍 Thumbs Up Button -->
    <button mat-icon-button (click)="vote(true)">
      <mat-icon
        [ngStyle]="{
          color: raceComment.userVote === 'upvote' ? votedIconColor : nonVotedIconColor
        }"
      >
        thumb_up
      </mat-icon>
    </button>
    {{ raceComment.upvoteCount }}

    <!-- 👎 Thumbs Down Button -->
    <button mat-icon-button (click)="vote(false)">
      <mat-icon
        [ngStyle]="{
          color: raceComment.userVote === 'downvote' ? votedIconColor : nonVotedIconColor
        }"
      >
        thumb_down
      </mat-icon>
    </button>

    {{ raceComment.downvoteCount }}
  </div>
</div>
