/* comment.component.css */
.comment {
  border: 1px solid var(--darker-grey);
  background-color: var(--color-white);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.comment-user-info {
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: 400;
}

.comment-date {
  font-size: 0.8em;
  color: #666;
}

.comment-body {
  font-size: 1em;
  line-height: 1.5;
}

.thumbs-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: center;
}
