<div class="container flex flex-row">
  <div class="flex-column">
    <div style="margin-top: 1rem;">
      <img src="{{ currentUser.imageUrl }}" alt="User Avatar" class="user-avatar" referrerpolicy="no-referrer">
    </div>
    <p>Change Avatar</p>
    <h2>{{ currentUser.username }}</h2>
    <p>Email: {{ currentUser.email }}</p>
    <p>Role: <b>{{ currentUser.role }}</b></p>
    <h4>Created races:</h4>
    To be released
    <h4>Votes:</h4>
    To be released
    <h4>Comments:</h4>
    To be released
  </div>
  <div class="flex-column">
  </div>
</div>
