
<footer>
  <div class="footer">
    <div class="row">
      <a mat-button color="primary" href="#"><i class="fa-brands fa-facebook"></i></a>
      <a mat-button color="primary" href="#"><i class="fa-brands fa-instagram"></i></a>
      <a mat-button color="primary" href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a mat-button color="primary" href="#">Contact us</a></li>
        <li><a mat-button color="primary" href="#">Our Services</a></li>
        <li><a mat-button color="primary" href="#">Privacy Policy</a></li>
        <li><a mat-button color="primary" href="#">Terms & Conditions</a></li>
        <li><a mat-button color="primary" href="#">Career</a></li>
      </ul>
    </div>

    <div class="row">
      RaceRating Copyright © 2024 - All rights reserved
    </div>
  </div>
</footer>
