.custom-mat-card {
  background-color: var(--color-white);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  //max-width: 500px; /* Change this to your desired maximum width */
  height: 140px; /* Change this to your desired fixed height */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-bottom: 10px;
}

/* Highlight style for races within ±7 days of today */
.recent-highlight {
  border-left: 6px solid var(--primary-main);
  background: linear-gradient(90deg, rgb(255, 204, 0, 0.175), transparent);
  //background: linear-gradient(90deg, rgba(0,0,0,0.03), transparent 40%);
}

.card-data-content {
  margin-right: 1rem;
}

@media (max-width: 400px) {
  .custom-mat-card {
    //max-width: 500px; /* Change this to your desired maximum width */
    height: 6em; /* Change this to your desired fixed height */
  }
}

.custom-mat-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.custom-mat-card .card-image {
  max-width: 9em;
  max-height: 9em;
}

@media (max-width: 400px) {
  .custom-mat-card .card-image {
    max-width: 5.5em;
    max-height: 5.5em;
  }
}

@media (max-width: 400px) {
  .custom-mat-card .card-image {
    max-width: 5em;
    max-height: 5em;
  }
}

@media (max-width: 350px) {
  .custom-mat-card .card-image {
    max-width: 4em;
    max-height: 4em;
  }
}

.custom-mat-card .img-container {
  width: 7em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 3rem;
}

@media (max-width: 460px) {
  .custom-mat-card .img-container {
    width: 7em;
  }
}

@media (max-width: 400px) {
  .custom-mat-card .img-container {
    width: 4em;
  }
}


.custom-mat-card .race-name-header {
  font-weight: 500;
  font-size: 1.3rem;
}

/* Styles specific to mobile devices */
@media (max-width: 400px) { /* Adjust 600px based on your design needs */
  .custom-mat-card .race-name-header {
    font-weight: 400;
    font-size: 1rem;
    max-width: 110px; /* Adjust the width to fit smaller screens */
    white-space: nowrap; /* Ensures the text stays in a single line */
    overflow: hidden; /* Hides text that goes beyond the set width */
    text-overflow: ellipsis; /* Adds '...' at the end of the truncated text */
  }
}

.reviews {
  font-size: 1.1rem;
  font-weight: bold;
}

@media (max-width: 350px) {
  .card-data-content {
    max-width: 5rem;
  }

  .custom-mat-card .img-container {
    width: 3em;
  }

  .custom-mat-card .race-name-header {
    font-size: 0.8rem;
  }
}


.img-and-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom-mat-card .date-text {
  font-size: 0.9rem;
  color: #666;
}

.custom-mat-card .race-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.average-rating-number {
  //margin-left: 10px;
}


.grey-text {
  color: #666;
}

.last-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.comment-icon {
  display: flex;
  justify-content: flex-end;
}

.flipped-icon {
  transform: scaleX(-1); /* Flip horizontally */
}

.custom-color {
  color: var(--primary-main);; /* Or any color you like */
}
