<div class="avg-rating-container">
  <div *ngIf="avgRating > 4.5; else isSuperb">Exceptional</div>
  <ng-template #isSuperb>
    <div *ngIf="avgRating > 4.25; else isGood">Superb</div>
  </ng-template>
  <ng-template #isGood>
    <div *ngIf="avgRating > 4; else isAverage">Good</div>
  </ng-template>
  <ng-template #isAverage>
    <div *ngIf="avgRating > 3; else isBelowAverage">Average</div>
  </ng-template>
  <ng-template #isBelowAverage>
    <div *ngIf="avgRating > 2; else isTerrible">Below Average</div>
  </ng-template>
  <ng-template #isTerrible>
    <div *ngIf="avgRating >= 1; else isNA">Terrible</div>
  </ng-template>
  <ng-template #isNA>
    <div>N/A</div>
  </ng-template>

  <div class="grey-text">{{ totalRatings }} reviews</div>
  <div class="rating-widget" data-testid="average-rating-total">
    {{ avgRating }}
  </div>
</div>
