.avg-rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rating-widget {
  margin-top: 0.5rem;
  background: #00796b;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
  border-radius: calc(32px / 5.5) calc(32px / 5.5) calc(32px / 5.5) 0;
  height: 32px;
  width: 100%;
  min-width: 32px;
}

.grey-text {
  color: #666;
}
