.custom-mat-card {
  background-color: var(--color-white);
  padding: 10px;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  //max-width: 500px; /* Change this to your desired maximum width */
  height: 140px; /* Change this to your desired fixed height */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin-bottom: 10px;
}

.custom-mat-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.custom-mat-card .card-image {
  max-width: 9em;
  max-height: 9em;
}

.custom-mat-card .img-container {
  width: 10em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
}

.custom-mat-card .race-name-header {
  font-weight: 500;
  font-size: 1.3rem;
}

/* Styles specific to mobile devices */
@media (max-width: 400px) { /* Adjust 600px based on your design needs */
  .custom-mat-card .race-name-header {
    max-width: 110px; /* Adjust the width to fit smaller screens */
    white-space: nowrap; /* Ensures the text stays in a single line */
    overflow: hidden; /* Hides text that goes beyond the set width */
    text-overflow: ellipsis; /* Adds '...' at the end of the truncated text */
  }
}

.custom-mat-card .date-text {
  font-size: 0.9rem;
  color: #666;
}

.custom-mat-card .race-rating-container {
  margin-bottom: 0.7rem;
}
