<div class="custom-mat-card">
  <div class="img-and-data">
    <div class="img-container">
      <img class="card-image" mat-card-image [src]="getRaceLogoUrl(data.id)" alt="">
    </div>
    <div class="card-data-content">
      <div class="race-name-header">
        {{ data.name }}
      </div>
      <div class="date-text">
        {{ data.eventDate | date: 'mediumDate' }}
      </div>
      <div class="race-rating-container">
        <app-rating-display [rating]="data.averageRating"></app-rating-display>
        <div class="average-rating-number grey-text">
          ({{ data.totalVotes }})
        </div>
      </div>
    </div>
  </div>

  <div class="last-col">
    <div class="reviews"
      [style.color]="getRatingColor(data.averageRating)"
    >{{ data.averageRating }}</div>
    <div class="comment-icon">
      <div class="grey-text" style="margin-right: 0.5rem">{{ data.totalComments }}</div>
      <mat-icon class="flipped-icon" [ngClass]="{
        'custom-color': data.totalComments > 0,
        'grey-text': data.totalComments === 0
      }">comment</mat-icon>
    </div>
  </div>
</div>
