<div class="custom-mat-card">
  <div class="img-container">
    <img class="card-image" mat-card-image src='{{ data.logoUrl }}' alt="">
  </div>
  <div class="card-data-content">
    <div class="race-name-header">
      {{ data.name }}
    </div>
    <div class="date-text">
      {{ data.eventDate | date: 'mediumDate' }}
    </div>
    <div class="race-rating-container">
      <app-rating-display [rating]="data.averageRating"></app-rating-display>
    </div>
    <div>
      {{ data.distance }} km
    </div>
    <div>
      {{ data.elevation }} m
    </div>
  </div>
</div>
