<div class="container" style="margin-top: 10px;">
  <div class="centered-content">
    <div class="race-data-content">
      <div>
        <h1>{{ race.name }}</h1>
        <h5>{{ race.latitude }} / {{ race.longitude }}</h5>
        <p>{{ race.terrain }}</p>
        <p style="margin-top: 10px;">Описание:</p>
        <h4 style="margin-bottom: 100px;">{{ race.description }}</h4>
      </div>
      <div class="divide-content"></div>
      <div class="ratings">
        <p>Трасе</p>
        <app-rating-display style="font-size: 30px" [rating]="race.averageTraceScore"></app-rating-display>
        <p>Атмосфера</p>
        <app-rating-display style="font-size: 30px" [rating]="race.averageVibeScore"></app-rating-display>
        <p>Организация</p>
        <app-rating-display style="font-size: 30px" [rating]="race.averageOrganizationScore"></app-rating-display>
        <p>Локация</p>
        <app-rating-display style="font-size: 30px" [rating]="race.averageLocationScore"></app-rating-display>
        <p>Цена</p>
        <app-rating-display style="font-size: 30px" [rating]="race.averageValueScore"></app-rating-display>
      </div>
    </div>
    <app-carousel class="carousel-component"></app-carousel>
    <div *ngIf="isUserAuthenticated() else notAuthenticated">
      <app-rating-input *ngIf="!hasUserVoted else userAlreadyVoted"></app-rating-input>
      <ng-template #userAlreadyVoted>
        <h2>You have already voted for this race.</h2>
      </ng-template>
    </div>
    <ng-template #notAuthenticated>
      <h2>You need to be logged in to vote.</h2>
    </ng-template>
    <h1 style="margin-top: 20px;">Comments:</h1>
    <app-comment-section [raceId]="race.id"></app-comment-section>
  </div>
</div>
