.race-data-content {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  margin-bottom: 50px;
}

.divide-content {
  flex: 1;
  padding-left: 30px; /* Adjust spacing as needed */
}

.ratings {
  display: flex;
  flex-direction: column;
  width: 28rem;
}

@media (max-width: 600px) {
  .ratings {
    width: 100%;
  }
}

.carousel-component {
  margin-bottom: 50px;
}

.small-grey-text {
  color: #666;
  font-size: 12px
}
