<div *ngIf="race else loading" class="container race-detail-width" style="margin-top: 10px;">
  <div class="centered-content">
    <div class="flex-row-space-between">
      <button *ngIf="isAdmin" mat-icon-button [routerLink]="['/race', race.id, 'edit']">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="isAdmin" mat-icon-button (click)="openDialog()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div class="top-part-content">
      <div class="flex-row-space-between">
        <div class="race-name-header-top">
          {{ race.name }}
        </div>
        <a href="{{race.websiteUrl}}" target="_blank" rel="noopener noreferrer" class="icon-link">
          <mat-icon>open_in_new</mat-icon>
        </a>
      </div>
      <div class="logo-and-rating">
        <div>
          <img class="logo" [src]="race.logoUrl"  alt="">
        </div>
        <app-avg-rating-widget [avgRating]="race.averageRating" [totalRatings]=race.ratingsCount></app-avg-rating-widget>
      </div>
      <div class="rating-container">
        <span class="rating-fill"></span> <!-- Using span for the fill -->
      </div>
      <div class="ratings">
        <div class="rating-bar-box">
          <div class="rating-bar-header">
            <div>{{ RATINGS_CYRILIC.atmosphere }}</div>
            <div>{{ race.averageVibeScore }}</div>
          </div>
          <app-rating-bar [rating]="race.averageVibeScore"></app-rating-bar>
        </div>
        <div class="rating-bar-box">
          <div class="rating-bar-header">
            <div>{{ RATINGS_CYRILIC.price }}</div>
            <div>{{ race.averageValueScore }}</div>
          </div>
          <app-rating-bar [rating]="race.averageValueScore"></app-rating-bar>
        </div>
        <div class="rating-bar-box">
          <div class="rating-bar-header">
            <div>{{ RATINGS_CYRILIC.trace }}</div>
            <div>{{ race.averageTraceScore }}</div>
          </div>
          <app-rating-bar [rating]="race.averageTraceScore"></app-rating-bar>
        </div>
        <div class="rating-bar-box">
          <div class="rating-bar-header">
            <div>{{ RATINGS_CYRILIC.location }}</div>
            <div>{{ race.averageLocationScore }}</div>
          </div>
          <app-rating-bar [rating]="race.averageLocationScore"></app-rating-bar>
        </div>
        <div class="rating-bar-box">
          <div class="rating-bar-header">
            <div>{{ RATINGS_CYRILIC.organization }}</div>
            <div>{{ race.averageOrganizationScore }}</div>
          </div>
          <app-rating-bar [rating]="race.averageOrganizationScore"></app-rating-bar>
        </div>
      </div>
    </div>

<!--    <div class="race-data-content with-border">-->
<!--        <div class="info-box">-->
<!--          <a [href]="'https://www.google.com/maps?q=' + race.latitude + ',' + race.longitude" target="_blank">-->
<!--            Maps-->
<!--          </a>-->
<!--        </div>-->
<!--        <mat-divider></mat-divider>-->
<!--      <div class="header-box">-->
<!--          <div class="race-name-header">-->
<!--            {{ race.name }}-->
<!--          </div>-->
<!--      </div>-->

<!--        <mat-divider></mat-divider>-->

<!--        <div class="info-box">-->
<!--          <div class="grey-text">-->
<!--            <b>Tags:</b>-->
<!--          </div>-->
<!--          <div>{{ race.terrainTags }}</div>-->
<!--        </div>-->

<!--        <mat-divider></mat-divider>-->

<!--        <div class="info-box">-->
<!--          <div class="grey-text">-->
<!--            <b>Дата:</b>-->
<!--          </div>-->
<!--          <div>-->
<!--            <div>{{ race.eventDate | date: 'mediumDate' }}</div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <mat-divider></mat-divider>-->

<!--        <div class="info-box">-->
<!--          <div class="grey-text">-->
<!--            <b>-->
<!--              Описание:-->
<!--            </b>-->
<!--          </div>-->
<!--          <div class="spacer"></div>-->
<!--          <div class="description-text">-->
<!--            {{ race.description }}-->
<!--          </div>-->
<!--        </div>-->

<!--        <mat-divider></mat-divider>-->

<!--        <div class="info-box">-->
<!--          <div>-->
<!--            <b>Уеб страница</b>-->
<!--          </div>-->
<!--          <div>-->
<!--            <a href="#">{{ race.websiteUrl }}</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      <div class="divide-content"></div>-->
<!--    </div>-->
    <app-carousel class="carousel-component"></app-carousel>
    <div *ngIf="isUserAuthenticated() else notAuthenticated" class="rating-form">
      <app-rating-input *ngIf="!hasUserVoted else userAlreadyVoted"></app-rating-input>
      <ng-template #userAlreadyVoted>
        <h2>You have already voted for this race.</h2>
      </ng-template>
    </div>
    <ng-template #notAuthenticated>
      <h2 class="text-dull">You need to be logged in to vote.</h2>
    </ng-template>
    <mat-divider></mat-divider>
    <h1 style="margin-top: 20px;">Comments:</h1>
    <app-comment-section [raceId]="race.id"></app-comment-section>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
