.race-data-content {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.race-detail-width {
  max-width: 28rem;
}
.logo-and-rating {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.divide-content {
  flex: 1;
  padding-left: 30px; /* Adjust spacing as needed */
}

.ratings {
  display: flex;
  flex-direction: column;
  width: 100%;
}


@media (max-width: 600px) {
  .ratings {
    width: 100%;
  }
  .race-data-content {
    width: 100%;
  }
}

.header-box {
  padding: 10px;
}

.race-name-header {
  font-size: 1.9rem;
  font-weight: 300;
}

.divider {
}

.carousel-component {
  margin-bottom: 50px;
  width: 100%;
}

@media (max-width: 600px) {
  .carousel-component {
    width: 22rem;
  }
}

.small-grey-text {
  color: #666;
  font-size: 12px
}

.info-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spacer {
  width: 5em;
}

.description-text {
  text-align: end;
}

.race-details-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 10rem;
  height: 8rem;
  margin-bottom: 2rem;
}

.rating-bar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
