<!-- Single app-comment-form with combined condition -->
<app-comment-form *ngIf="!(hasUserCommented$ | async) && isUserAuthenticated() else feedbackTemplate"
                  [raceId]="raceId"
                  (commentAdded)="onCommentAdded($event)">
</app-comment-form>

<!-- Unified ng-template for feedback based on conditions -->
<ng-template #feedbackTemplate>
  <ng-container *ngIf="!isUserAuthenticated(); else alreadyCommentedTemplate">
    <h2 class="text-dull">You need to be logged in to comment!</h2>
  </ng-container>
  <ng-template #alreadyCommentedTemplate>
    <h2>You have already commented!</h2>
  </ng-template>
</ng-template>
<button mat-button [matMenuTriggerFor]="sortMenu">Sort by<mat-icon>sort</mat-icon></button>
<mat-menu #sortMenu="matMenu" yPosition="above" xPosition="after">
  <button mat-menu-item (click)="sortComments('recent')">Most Recent</button>
  <button mat-menu-item (click)="sortComments('upvotes')">Upvotes</button>
  <button mat-menu-item (click)="sortComments('downvotes')">Downvotes</button>
</mat-menu>
<app-comment *ngFor="let comment of sortedComments" [raceComment]="comment"></app-comment>
