.rating-container {
  width: 100%;
}

.rating-container label {
  /* Label styling */
  display: block;
  margin-bottom: 5px;
}
.rating-buttons {
  display: flex;
  margin-bottom: 5px;
}

.rating-buttons button {
  flex-grow: 1;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 12px;
}

.rating-buttons .selected {
  background-color: var(--ascent-darker);
  color: white;
}

/* Responsive design: Adjust sizes for smaller screens */
@media (max-width: 600px) {
  .rating-container {
    font-size: 12px;
  }

  .rating-buttons button {
    padding: 4px 8px;
    font-size: 10px;
  }
}
