.user-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-avatar {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  margin-right: 10px; /* Space between image and name */
}

.user-name {
  display: none;
  font-size: 1em;
  margin-bottom: 0; /* Remove default margin */
}

@media (min-width: 769px) {
  .user-name {
    display: block;
  }
}
