<div class="container main-content">
  <div class="search-bar-content">
    <app-search-bar (searchTermChange)="onSearchTermChange($event)">
    </app-search-bar>
  </div>
  <div class="filters">
    <mat-form-field class='dropdown-filters' appearance="outline">
      <mat-label>Sort By</mat-label>
      <mat-select (selectionChange)="onSortTypeChange($event.value)">
        @for (sortOption of sortOptions; track sortOption) {
          <mat-option [value]="sortOption.value">{{sortOption.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-button-toggle-group class="arrows" name="fontStyle" aria-label="Font Style" (change)="onSortDirectionChange($event.value)">
      <mat-button-toggle  value="desc"><mat-icon>arrow_upward</mat-icon></mat-button-toggle>
      <mat-button-toggle class="arrows" value="asc"><mat-icon>arrow_downward</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Show progress bar only while loading -->
  <div *ngIf="isLoading" class="loading-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <!-- Show 'no results' text when not loading, a search term is present, and no matches -->
  <div *ngIf="!isLoading && currentSearchTerm && filteredRaces.length === 0" class="no-results">
    No races match your search.
  </div>

  <div *ngIf="!isLoading && racesOnCurrentPage && racesOnCurrentPage.length > 0"
       class="flex-column cards-content">
    <app-race-list-custom-card *ngFor="let race of racesOnCurrentPage" [data] = "race"
                               [routerLink]="['/race', race.id]"
                               class="clickable-card"
    >
    </app-race-list-custom-card>
  </div>

  <mat-paginator [length]="filteredRaces.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent($event)" class="paginator">
  </mat-paginator>
</div>
