.carousel-card {
  max-width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.carousel-navigation {
  position: absolute;
  height: 100%;
  width: 10%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.carousel-navigation.left {
  left: 0;
}

.carousel-navigation.right {
  right: 0;
}

.arrow {
  color: white; /* Arrow color */
  font-size: 24px; /* Arrow size */
  z-index: 2;
}

@media (max-width: 600px) {
  .carousel-image {
    height: 200px;
  }

  .arrow {
    font-size: 18px; /* Smaller arrow size for smaller screens */
  }
}
