.carousel-card {
  max-width: 100%;
  margin: auto;
}

.carousel-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 600px) {
  .carousel-image {
    height: 200px;
  }
}
