<mat-card class="">
  <mat-card-title class="log-in-title">Password Reset</mat-card-title>
  <mat-card-subtitle class="subtitle">
    Password must be at least 8 characters long and include an uppercase letter, a lowercase letter, and a number.
  </mat-card-subtitle>
  <mat-card-content class="flex-column">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="flex-column">
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password" required/>
        <mat-error *ngIf="myForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="myForm.get('password')?.hasError('weakPassword')">
          Weak password!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required/>
        <mat-error *ngIf="myForm.get('confirmPassword')?.hasError('required')">
          Confirm your password
        </mat-error>
        <mat-error *ngIf="myForm.hasError('passwordsMismatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
