<div class="container">


<form [formGroup]="editRaceForm" (ngSubmit)="onSubmit()">
  <!-- Name -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <!-- Description -->
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>


  <!-- LAT -->
  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input matInput formControlName="latitude" type="number">
  </mat-form-field>

  <!-- LON -->
  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input matInput formControlName="longitude" type="number">
  </mat-form-field>

  <!-- Logo URL -->
  <mat-form-field>
    <mat-label>Logo Url</mat-label>
    <input matInput formControlName="logoUrl">
  </mat-form-field>

  <!-- Website URL -->
  <mat-form-field>
    <mat-label>Website Url</mat-label>
    <input matInput formControlName="websiteUrl">
  </mat-form-field>

  <!-- Date -->
  <mat-form-field>
    <mat-label>Event Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="eventDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <ul>
    <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
  </ul>
  <!-- Hidden file input -->
  <input type="file" #fileInput (change)="onFileSelected($event)" multiple style="display: none;">

  <!-- Button to upload files to s3 -->
  <button mat-raised-button color="primary" (click)="fileInput.click()" style="font-size: 16px; height: 50px; padding: 0 25px;">
    <mat-icon>file_upload</mat-icon> Upload Files
  </button>

  <!-- List of uploaded files -->
  <mat-list>
      <div *ngFor="let s3Object of s3Objects; let i = index" class="s3-list-row">
        <mat-list-item>
          <img matListAvatar src="{{ s3Object.fullUrl }}" alt="Thumbnail" class="thumbnail">
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>{{ s3Object.name }}</h3>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button (click)="removeS3Object(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </div>
    </mat-list>

  <!-- Save form button -->
  <button mat-raised-button color="primary" type="submit" [disabled]="!editRaceForm.valid">Save</button>
</form>
</div>
